<div class="flex flex-row items-center justify-center">
    <div class="w-1/3 flex flex-row">
        <div class="flex flex-row items-center justify-center py-2 px-4 box-item rounded-full">
            <div class="p-2 icon">
                <ng-icon name="heroBars3" class="w-6 h-6 text-acento cursor-pointer"></ng-icon>
            </div>
            <div class="nav-txt p-2">
                <span>
                    Menu
                </span>
            </div>
        </div>
        <div class="relative w-full max-w-sm mx-4 py-2 px-4 box-item rounded-full">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <ng-icon name="heroMagnifyingGlass" class="w-5 h-5 text-acento"></ng-icon>
            </span>
            <input
              type="text"
              placeholder="Buscar..."
              class="w-full pl-10 pr-4 py-2 rounded-md bg-oscuro2 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-acento"
            />
          </div>
    </div>
    <div class="w-1/3 flex flex-row items-center justify-center">
        <div class="logo">
            <img src="/assets/images/fitness.png" alt="Logo Tienda Fitness" class="w-32 h-auto" />
        </div>
    </div>
    <div class="w-1/3 flex flex-row justify-end">
        <div class="flex flex-row items-center justify-center">
            <div class="flex flex-row items-center justify-center">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
        <div class="flex flex-row items-center justify-center">
            <div class="flex flex-row items-center justify-center mx-4 py-4 px-6 box-item rounded-full">
                <span>ESP</span>
            </div>
            <div class="flex flex-row items-center justify-center mx-4 py-4 px-6 box-item rounded-full">
                <span>COL</span>
            </div>
        </div>
    </div>
</div>
